*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0b0b0b;
color:#fff;
line-height:1.7;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:18px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.9);
backdrop-filter:blur(10px);
z-index:1000;
border-bottom:2px solid #FFD700;
}

.logo{
font-size:28px;
font-weight:700;
color:#FFD700;
}

nav{
display:flex;
gap:20px;
}

nav a{
color:#fff;
text-decoration:none;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#FFD700;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75));
}

.hero h1{
font-size:60px;
color:#FFD700;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:700px;
margin:auto;
}

.buttons{
margin-top:35px;
}

.call,.whatsapp{
display:inline-block;
padding:15px 35px;
margin:10px;
border-radius:50px;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.call{
background
